<div class="navbar-wrapper"  data-spy="affix" data-offset-top="47">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
        	<div class="hidden-xs">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BRANDDIFY</a>
                </div>
                <div class="navbar-collapse collapse" id="mainmenu" aria-expanded="false">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="hidden-xs"><a href="#" class="bell"><i class="fa fa-bell-o"></i><span>1</span></a></li>
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle category-icon" data-toggle="dropdown"><span>Category</span><i class="fa fa-th"></i> <br> <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a href=""><img src="assets/images/personel-care.png" alt=""><span>Personal Care</span></a>
                                        <div class="categoryTabs">
                                            <div class="container">
                                                <div class="tabbox">
                                                    <a href="#" class="prev-btn"><img src="assets/images/left-arrow.png" alt=""></a>
                                                    <ul class="care-list">
                                                        <li><a href="#"><img src="assets/images/frock.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/lipstick.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/underwear.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/shirt.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/bag.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/diamond.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/frock.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/sandle.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/pot.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/hat.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/googles.png" alt=""></a></li>
                                                    </ul>
                                                    <a href="#" class="next-btn"><img src="assets/images/right-arrow.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href=""><img src="assets/images/fashion.png" alt=""><span>Fashion</span></a>
                                        <div class="categoryTabs">
                                            <div class="container">
                                                <div class="tabbox">
                                                    <a href="#" class="prev-btn"><img src="assets/images/left-arrow.png" alt=""></a>
                                                    <ul class="care-list">
                                                        <li><a href="#"><img src="assets/images/bag.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/diamond.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/frock.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/sandle.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/pot.png" alt=""></a></li>
                                                    </ul>
                                                    <a href="#" class="next-btn"><img src="assets/images/right-arrow.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href=""><img src="assets/images/food.png" alt=""><span>Food</span></a>
                                        <div class="categoryTabs">
                                            <div class="container">
                                                <div class="tabbox">
                                                    <a href="#" class="prev-btn"><img src="assets/images/left-arrow.png" alt=""></a>
                                                    <ul class="care-list">
                                                        <li><a href="#"><img src="assets/images/frock.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/lipstick.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/underwear.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/shirt.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/pot.png" alt=""></a></li>
                                                    </ul>
                                                    <a href="#" class="next-btn"><img src="assets/images/right-arrow.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href=""><img src="assets/images/home.png" alt=""><span>Home Decor</span></a>
                                        <div class="categoryTabs">
                                            <div class="container">
                                                <div class="tabbox">
                                                    <a href="#" class="prev-btn"><img src="assets/images/left-arrow.png" alt=""></a>
                                                    <ul class="care-list">
                                                        <li><a href="#"><img src="assets/images/frock.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/lipstick.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/underwear.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/shirt.png" alt=""></a></li>
                                                        <li><a href="#"><img src="assets/images/bag.png" alt=""></a></li>
                                                    </ul>
                                                    <a href="#" class="next-btn"><img src="assets/images/right-arrow.png" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                        </li>
                    </ul>
                    <div class="pull-right right-header">
                        <div class="searchbox hidden-xs"><a href="#" class="search"><i class="fa fa-search fa-rotate-90"></i></a><input type="text" class="form-control"></div>
                        <a href="#" class="btn login-btn" data-toggle="modal" data-target="#login-popup">Login</a>
                        <a href="#" class="btn signup-btn" data-toggle="modal" data-target="#signup-popup">Sign up</a>
                        <div class="hover-menu">
                            <a href="#" class="dropdown-toggle hidden-xs" data-toggle="collapse"><i class="fa fa-reorder"></i></a>
                            <div class="dropdown-menu top-menu">
                                <ul>
                                    
                                    <li><%= link_to "About Us", pages_about_path %></li>
                                    <li><a href="#">What We Do</a></li>
                                    <li><%= link_to "Contact Us", pages_contact_path %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            	<div class="visible-xs">
            	<div class="navbar-header">
                	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">BRANDDIFY</a>
                    <div class="pull-right visible-xs mob-notification">
                        <a href="#" class="bell"><i class="fa fa-bell-o"></i><span>1</span></a>
                        <div class="searchbox">
                            <a href="#" class="search"><i class="fa fa-search fa-rotate-90"></i></a>
                            <div class="search-mobile">
                            	<input type="text" class="form-control"><a href="#"><i class="fa fa-search fa-rotate-90"></i></a>
                            </div>
                        </div>
                    </div>
                    <div aria-expanded="true" id="mainmenu2" class="navbar-collapse collapse col-xs-12" style="">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Category <i class="fa fa-plus pull-right"></i></a>
                                <div class="dropdown-menu-mob">
                                    <ul>
                                        <li>
                                            <a href="#">Personal Care <i class="fa fa-plus"></i></a>
                                            <div class="categoryTabs">
                                                <ul class="care-list">
                                                    <li><a href="#">frock</a></li>
                                                    <li><a href="#">lipstick</a></li>
                                                    <li><a href="#">underwear</a></li>
                                                    <li><a href="#">shirt</a></li>
                                                    <li><a href="#">bag</a></li>
                                                    <li><a href="#">diamond</a></li>
                                                    <li><a href="#">frock</a></li>
                                                    <li><a href="#">sandle</a></li>
                                                    <li><a href="#">pot</a></li>
                                                    <li><a href="#">hat</a></li>
                                                    <li><a href="#">googles</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">Fashion <i class="fa fa-plus"></i></a>
                                            <div class="categoryTabs">
                                                <ul class="care-list">
                                                    <li><a href="#">bag</a></li>
                                                    <li><a href="#">diamond</a></li>
                                                    <li><a href="#">frock</a></li>
                                                    <li><a href="#">sandle</a></li>
                                                    <li><a href="#">pot</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">Food <i class="fa fa-plus"></i></a>
                                            <div class="categoryTabs">
                                                <ul class="care-list">
                                                    <li><a href="#">frock</a></li>
                                                    <li><a href="#">lipstick</a></li>
                                                    <li><a href="#">underwear</a></li>
                                                    <li><a href="#">shirt</a></li>
                                                    <li><a href="#">pot</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">Home Decor <i class="fa fa-plus"></i></a>
                                            <div class="categoryTabs">
                                                <ul class="care-list">
                                                    <li><a href="#">frock</a></li>
                                                    <li><a href="#">lipstick</a></li>
                                                    <li><a href="#">underwear</a></li>
                                                    <li><a href="#">shirt</a></li>
                                                    <li><a href="#">bag</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><%= link_to "About Us", pages_about_path %></li>
                            <li><a href="#">What We Do</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a data-target="#login-popup" data-toggle="modal" class="visible-xs" href="#">Login</a></li>
                            <li><a href="#" class="btn signup-btn" data-toggle="modal" data-target="#signup-popup">Sign up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>