<div class="fw about-page">
	<div class="about_banner">
    	<img src="/assets/about.jpg" alt="" class="img-responsive">
        <h2>ABOUT US</h2>
    	<div class="about_description">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-4 col-sm-7 col-md-offset-1">
                    	<h3>REPRESENT YOUR STORY WITH A SIMPLE PHOTO </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempos incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quit nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="watwhy-sec fw">
    	<div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                	<img src="/assets/what.jpg" alt="">
                    <h4>WHAT ABOUT BRANDDIFY </h4>
                    <p>BRANDDIFY is a marketing foundation located in Riyadh built on the talent of creation that leads to a modern concept of professionalism. At Branddify we believe even if you are good at what you do, you have a great product or you provide an excellent service give your business the perfect image. </p>
                </div>
                <div class="col-md-6 col-sm-6">
                	<img src="/assets/whytree.jpg" alt="">
                    <h4>WHY WE EXIST </h4>
                    <p>Reaching customer satisfaction through providing them with cutting-edge technologies that give clients access to a wide range of tools, ensuring efficient and results-oriented communication solutions, which grant them a special character that distinguishes them from the others in the business.  </p>
                </div>
            </div>
        </div>
     </div>
     <div class="watdo-sec fw text-center">
     	<div class="container">
        	<div class="row">
            	<div class="col-md-12 do-title">
                	<img src="/assets/watimg.jpg" alt="">
                    <h5>What we do ?</h5>
                    <p>Every thing you need to do business intelligence right.</p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                	<img src="/assets/st1.jpg" alt="">
                    <h3>First step </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis </p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                	<img src="/assets/st2.jpg" alt="">
                    <h3>Second step </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis </p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                	<img src="/assets/st3.jpg" alt="">
                    <h3>Third step </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis </p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                	<img src="/assets/st4.jpg" alt="">
                    <h3>Fourth step </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis </p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                	<img src="/assets/st5.jpg" alt="">
                    <h3>Fifth step </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis </p>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4">
                	<img src="/assets/st6.jpg" alt="">
                    <h3>Sixth step </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis </p>
                </div>
            </div>
        </div>
     </div>
     <div class="fw client_sec text-center">
     	<div class="container">
        	<div class="row">
            	<div class="col-md-8 col-md-offset-2">
                	<h4>OUR CLIENTS </h4>
                    <p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam ici dui posuere blandit. NuIla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidun. </p>
                </div>
            </div>
            <ul>
            	<li><img src="/assets/jupiter.jpg" alt=""></li>
            	<li><img src="/assets/rocket.jpg" alt=""></li>
            	<li><img src="/assets/moonpic.jpg" alt=""></li>
            	<li><img src="/assets/mars.jpg" alt=""></li>
            	<li><img src="/assets/jupiter.jpg" alt=""></li>
            </ul>
        </div>
     </div>
     <div class="fw download_sec text-center">
     	<div class="container">
        	<div class="row">
            	<div class="col-md-8 col-md-offset-2">
                	<h4>DOWNLOAD IT </h4>
                    <p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam ici dui posuere blandit. NuIla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidun. </p>
                    <a href="#">Apple store</a>
                    <a href="#">Play store</a>
                </div>
            </div>
        </div>
     </div>
</div>      
