<div class="container">
	<div class="row">
        <div class="col-md-12 text-center">
        	<ul class="breadcrumb">
            	<li><a href="#">Home</a></li>
            	<li>FAQ</li>
            </ul>
           	<h1 class="page-title"><span>FAQs</span></h1>
       </div>
       <div class="col-md-12">
       		<div class="panel-group faqpage" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Who can sell online? </a></h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>To really answer this question, I think the first question should be; “what can be sold online?” or “what can one sell online?” Either of these questions will help to answer the “who can sell online?” question.</p>

<p>You can sell either a service or a product online.</p>

<p>So if you provide any form of services to either consumers or companies, you are potentially qualified to sell online. And if you are a retailer or trader who buys and sells physical goods, you are also potentially qualified to sell online.
- See more at: </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What is the start-up cost for selling online?</a></h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p>The startup cost of selling online is quite small compared to selling offline. There are two approaches or models to 					                    selling online;</p>

                   <p>Creating your own e-Commerce site, or</p>

                   <p>Selling through other e-Commerce platforms, for example Kaymu</p>

                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What are the necessary things needed to sell online?</a></h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>I think the answers provided above to question 2 and 3 should clearly suffice. However, let me summarize the necessary things needed to sell online;</p>
                   <p> <strong>Value proposition –</strong> this can be a product/service or a combination of both</p>
                    <p><strong>e-Commerce platform –</strong> this can be your own website or selling through other websites</p>
                    <p><strong>Internet access –</strong> you can acquire your own internet modem or use a cybercafé</p>
                   <p> <strong>e-Marketing skills –</strong> you can acquire them through training or simply hire an online marketing consultant to do the job</p>
                  </div>
                </div>
                </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingfour">
                  <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">What is the process of selling online? </a></h4>
                </div>
                <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
                  <div class="panel-body">
                    <p>The process of selling online, again depends on the model and nature of business you are involved in. There’s really no hard and fast rule or one-size-fits-all process to selling online. You have to evaluate the uniqueness of your own business and the peculiarities of your own situation through the guidance of an expert, coach or mentor. Only then, can the most suitable process be developed for you.</p>
                   <p> Do not be deceived, selling online is all about online marketing and there can be no form of marketing without a defined strategy. The process of selling online can only be defined from your online marketing strategy! </p>
                  </div>
                </div>
                </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingfive">
                  <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">What percentage of profit can I make on one sale online? </a></h4>
                </div>
                <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
                  <div class="panel-body">
                    <p>As you must have realized from my previous answers above, there are many factors to consider when it comes to selling online and because of these factors, most of which are peculiar to different businesses, the percentage of profit on one sale online is not fixed. It varies.</p>
<p>But having said that, here’s the very interesting part; the percentage of profit you can make from one sale online can be significantly higher than what you would make from the same sale offline. Why? Because online, the cost of providing the product/service is significantly lower than the cost of providing it offline.</p>
<p>So the percentage of profit you can make from one sale online, ultimately lies in your hand!</p>
                  </div>
                </div>
                </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingsix">
                  <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">How do I build my reputation in selling online and how do I market my goods? </a></h4>
                </div>
                <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                  <div class="panel-body">
                    <p>gain, this question is dependent on those factors I have already mentioned above. The way you would market a product is not the same way you would market a service. There are certain dynamics that must be considered while developing your online marketing strategy. </p>

<p>Regarding brand reputation building, the most critical factor that will determine how successful your online reputation will be is credibility. Without it, there is no way you will make any sale online. Before anyone will buy from you online, they need to know, like and trust you.</p>

<p>On the internet, sales are not made in an instant; sales are made by following-up on leads and getting them to know, like and trust your brand. This is why you need an effective follow-up system using content marketing.</p>
                  </div>
                </div>
                
              </div>
            </div>
       </div>
    </div>
</div>
