<div class="container-fluid story">
    <a href="#">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="story-create">CREATE STORY<br><span class="plus">+</span><span class="minus">-</span></div>
            </div>
        </div>
    </a>
</div>

<%= render 'form' %>

<%= link_to 'Back', stories_path %>
